.dashboard-screen {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}

nav {
  background-color: #16262e;
  height: 65px;
  border-bottom: 2px solid #415660;
}

main {
  background-color: #fff;
  display: grid;
  grid-template-columns: auto 1fr auto;
}

/* Component Panel */

.components-panel {
  background-color: #fff;
  width: 280px;
}

.components-panel header {
  background-color: #16262e;
  color: #fff;
  text-align: center;
  padding: 15px;
  font-size: 15px;
}

.components-panel header p {
  padding: 5px 0px;
  font-size: 12px;
}

.components-panel .components-list {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.components-panel .components-list .component {
  padding: 12px 15px;
  border-radius: 8px;
  background-color: #f1f1f1;
  color: #415660;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: grab;
}

.arena {
  background-color: #bbcbcb40;
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 12px;
  padding: 40px 5%;
}

.arena #dropzone {
  background-color: #fff;
  padding: 30px 5%;
}

.arena #dropzone .container {
    width: 100%;
    padding: 5px;
    position: relative;
    min-height: 28px;
    word-wrap: break-word;
}

.arena #dropzone .container input {
    padding: 10px;
    outline: none;
    border: 1px solid #839da9;
    border-radius: 5px;
}

.arena #dropzone .container button:first-child {
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #435b72;
    color: #fff;
    min-width: 90px;
    min-height: 35px;
}

.arena #dropzone .container-active {
    border: #839da9 1px solid;
}

.arena #dropzone .container:not(.container-active) :is(.edit, .del) {
    display: none;
}

.arena #dropzone .container-active :is(.edit, .del) {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    padding: 5px;
    color: white;
    background-color: #f36868;
    cursor: pointer;
    opacity: 0.95;
}

.arena #dropzone .container-active :is(.edit) {
    background-color: #435b72;
    transform: translateX(-105%);
}

.arena > button {
  background-color: #16262e;
  color: #fff;
  padding: 10px 20px;
  justify-self: flex-end;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}

.properties-panel {
    background-color: #fff;
    width: 280px;
}

.properties-panel > h3 {
    background-color: #16262E;
    color: #f1f1f1;
    padding: 10px;
    text-align: center;
    font-weight: 400;
}

.properties-panel .block {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #435b72;
    font-size: 12px;
    border-bottom: 1px solid #cacaca;
}

.properties-panel .block textarea {
    padding: 10px;
    outline: none;
    border: 1px dashed #76858d;
    resize: vertical;
}

/* Color Picker */
._color_picker {
    border: 1px dashed #76858d;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
}

._color_picker .color-indicator {
    border: 1px solid #cfdae0;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    position: relative;
    z-index: 2;
}

._color_picker input {
    width: 0;
    height: 0;
    position: absolute;
}
